<% unless @error %>
<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span6">
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
  </div>
  <div class="span8">
<%= erb :_interval_filter_detailed, :layout => false unless @interval_filters.empty? %>
  </div>
 
</div>
  
<% span=12/@graph_columns %>
<table align=center>
<tr>
        <td>
          <%= erb(:graph, :locals => { :graph => @params[:graph], :omit_link => true }) %>
        </td>
</tr>
</table>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
